<% provide(:title, 'Edit Daily Account') %>
<%= form_for(@daily_account) do |f| %>
<table>
		<thead>
			<tr>
				<th>খাত</th>
				<th>পরিমাণ ৳ </th>
				<th>পরিশোধ করা হয়েছে যাকে </th>
				<th>যে পরিশোধ করেছে </th>
				<th>ধরন </th>
				<th>নোট </th>
				<th>সময় </th>
			</tr>
	</thead>
	<tbody>
		<tr>
			<td> <%= f.text_field :category_spend  %> </td>
			<td> <%= f.text_field :amount  %> </td>				
			<td> <%= f.text_field :to_whome  %> </td>
			<td> <%= f.text_field :from_whom  %> </td>
			<td> <%= f.select :account_type_id, account_type_options("")   %> </td>
			<td> <%= f.text_field :note  %> </td>
			<td> <%= f.submit  %> </td>
		</tr>
	</tbody>
</table>
<% end %>
