<% provide(:title, "Daily Account") %>
<div class="content">
	<% if @can_add_new_entry %>
	<h1>আজকের তারিখ : <%= @date  %></h1>
	<% else %>
	<h1>আপনি দেখছেন <%= @date  %> এর জমা খরচ: </h1>
	<% end %>
	<div>
		<form action="">
			<input type="radio" id="all" name="account_kind" onchange="makeTrHiddenOnRadioSelect(this)" > সব একাউন্ট 		
			<% account_type_options_select(params[:is_debit]).each do |item| %>
				<input type="radio" id=<%= item[:css_class] %> name="account_kind" onchange="makeTrHiddenOnRadioSelect(this)" > <%= item[:account_type] %> 		
			<% end %>
		</form>
	</div>
	<%= render 'shared/error_message' %>
	<table id="account-table" class="table-striped table-bordered table-hover">
		<thead>
				<tr>
					<th>খাত</th>
					<th>পরিমাণ ৳ </th>
					<th>পরিশোধ করা হয়েছে যাকে </th>
					<th>যে পরিশোধ করেছে </th>
					<th>ধরন </th>
					<th>নোট </th>
					<th>সময় </th>
					<th>receipt_no</th>
					<th>এডিট</th>
					<th>ডিলিট</th>
				</tr>
		</thead>
		<tbody>
			<% @daily_accounts.each do |daily_account| %>
				<tr class=<%= daily_account.css_class %> >
					<td><%= daily_account.category_spend %></td>
					<td><%= daily_account.amount %></td>
					<td><%= daily_account.to_whome %></td>
					<td><%= daily_account.from_whom %></td>
					<td><%= daily_account.account_type %></td>
					<td><%= daily_account.note %></td>
					<td><%= daily_account.created_at.strftime("%I:%M %p") %></td>
					<td><%= daily_account.receipt_no %></td>
					<td><%= link_to "edit", edit_daily_account_path(daily_account,is_debit: params[:is_debit]) %></td>
					<td><%= link_to "delete", daily_account, method: :delete, data: { confirm: "You sure?" } %></td>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td id="total_amount">Total : <%= @total_amount %> ৳ </td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
				
		</tfoot>
	</table>
	<div class="col-sm-15">
		<% if @can_add_new_entry %>
			<%= form_for @new_daily_account, :class => "form-vertical", :role => "form" do |f| %>
				<div class="form-group">
					<%= f.label "খাত", :class => "control-label col-sm-4" %> 
			 	 	<div class="col-sm-10">
				 	 	<%= f.text_field :category_spend, :class => "form-control ", placeholder: "খাত"  %>						 	 		
			 	 	</div>
			 	</div>
			
			
				<div class="form-group">
					<%= f.label "পরিমাণ ৳ ", :class => "control-label col-sm-4" %> 
			 	 	<div class="col-sm-10">
				 	 	<%= f.text_field :amount, :class => "form-control ", placeholder: "পরিমাণ ৳ "  %>						 	 		
			 	 	</div>
			 	</div>
			
			
				<div class="form-group">
					<%= f.label "পরিশোধ করা হয়েছে যাকে ", :class => "control-label col-sm-4" %> 
			 	 	<div class="col-sm-10">
				 	 	<%= f.text_field :to_whome, :class => "form-control ", placeholder: "পরিশোধ করা হয়েছে যাকে "  %>						 	 		
			 	 	</div>
			 	</div>
			
									
				<div class="form-group">
					<%= f.label "যে পরিশোধ করেছে ", :class => "control-label col-sm-4" %> 
			 	 	<div class="col-sm-10">
				 	 	<%= f.text_field :from_whom, :class => "form-control ", placeholder: "যে পরিশোধ করেছে "  %>						 	 		
			 	 	</div>
			 	</div>
			
									
				<div class="dailyAccountInputLbel">
					<%= f.label "ধরন ", :class => "control-label col-sm-4" %> 
					<div class="col-sm-10">
				 	 	<%= f.select :account_type, account_type_options(params[:is_debit] )  %>
				 	 </div>
			 	</div>
			
									
				<div class="form-group">
					<%= f.label "নোট ", :class => "control-label col-sm-4" %> 
			 	 	<div class="col-sm-10">
				 	 	<%= f.text_field :note, :class => "form-control ", placeholder: "নোট "  %>						 	 		
			 	 	</div>
			 	</div>		

			 	<div class="form-group">
					<%= f.label "রশিদ নং", :class => "control-label col-sm-4" %> 
			 	 	<div class="col-sm-10">
				 	 	<%= f.text_field :receipt_no, :class => "form-control ", placeholder: "নোট "  %>						 	 		
			 	 	</div>
			 	</div>		


			 	<div class="form-group">				
			 	 	<div class="col-sm-10">
						 <%= f.submit  :class => "btn btn-info btn-lg span-6", :id => "account_submit" %> 
			 	 	</div>
			 	</div>		
		<% end %>
	<% end %>							
	</div>
	<br><br><br>
</div>
