<h1>Wanna create new company ???</h1>
<ul>
	<%= form_for @new_company do |f| %>
	 <%= f.text_field :name %> 
	 <%= f.text_field :address  %> 
	 <%= f.text_field :phone  %> 
	 <%= f.text_field :buyer  %> 
	 <%= f.text_field :seller  %> 
	 <%= f.submit  %> 
	<% end %>	
</ul>
